[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
"psycopg2" = "*"
django-webpack-loader = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"

[dev-packages]

[requires]
python_version = "3.6"
