Django==2.2.13
django-cors-headers==3.2.1
django-debug-toolbar==2.2
django-environ==0.4.5
django-templated-mail==1.1.1
django-webpack-loader==0.6.0
djangorestframework==3.11.0
-e git+git@github.com:pvanderw/banger-music-v2.git@b2b82ba2db21f0eb0b09286a92a322fd8275983d#egg=djangorestframework_simplejwt
djoser==2.0.3
psycopg2-binary==2.8.4
PyJWT==1.7.1
pytz==2019.3
sqlparse==0.3.0
